# National Stock Exchange Kenya (NSE) Prediction using Linear Regression
This notebook describes the process of predicting stock exchange prices of Diamond Trust Bank company using Linear Regression.

The data is scraped from the official [NSE Kenya Website](https://www.nse.co.ke/market-statistics.html). The scraping is done by a simple python script worker deployed on Heroku. The scraper then stores this data into a Google Spreadsheets document. This notebook thus gets the data from that Spreadsheet for use in the analysis

First, import the necessary modules:

In [1]:
import csv
import pandas as pd
from spreadsheet import GoogleSpreadSheets

In [2]:
sheets = GoogleSpreadSheets("NSE Stocks", "DTK")

In [3]:
dtk_data = sheets.get_all_records(head=2)

In [4]:
dtk_data

[{'CHANGE(%)': -0.52,
  'COMPANY': 'Diamond Trust Bank Kenya Ltd Ord 4.00',
  'DATE': 'Thu Nov 16 22:58:11 2017',
  'HIGH(KSH)': 190,
  'LAST TRADED PRICE(KSH)': 190,
  'LOW(KSH)': 190,
  'PREV PRICE(KSH)': 191,
  'VOLUME': 1500},
 {'CHANGE(%)': -1.58,
  'COMPANY': 'Diamond Trust Bank Kenya Ltd Ord 4.00',
  'DATE': 'Fri Nov 17 22:38:53 2017',
  'HIGH(KSH)': 190,
  'LAST TRADED PRICE(KSH)': 187,
  'LOW(KSH)': 186,
  'PREV PRICE(KSH)': 190,
  'VOLUME': 24300},
 {'CHANGE(%)': '',
  'COMPANY': 'Diamond Trust Bank Kenya Ltd Ord 4.00',
  'DATE': 'Mon Nov 20 11:01:00 2017',
  'HIGH(KSH)': '',
  'LAST TRADED PRICE(KSH)': 190,
  'LOW(KSH)': '',
  'PREV PRICE(KSH)': '',
  'VOLUME': 32100},
 {'CHANGE(%)': 1.6,
  'COMPANY': 'Diamond Trust Bank Kenya Ltd Ord 4.00',
  'DATE': 'Tue Nov 21 15:01:15 2017',
  'HIGH(KSH)': 191,
  'LAST TRADED PRICE(KSH)': 190,
  'LOW(KSH)': 186,
  'PREV PRICE(KSH)': 187,
  'VOLUME': 32100},
 {'CHANGE(%)': '',
  'COMPANY': 'Diamond Trust Bank Kenya Ltd Ord 4.00',
  'DATE': 'Mon Oct 23 11:01:00 2017',
  'HIGH(KSH)': '',
  'LAST TRADED PRICE(KSH)': 175,
  'LOW(KSH)': '',
  'PREV PRICE(KSH)': '',
  'VOLUME': 400},
 {'CHANGE(%)': '',
  'COMPANY': 'Diamond Trust Bank Kenya Ltd Ord 4.00',
  'DATE': 'Tue Oct 24 11:01:00 2017',
  'HIGH(KSH)': '',
  'LAST TRADED PRICE(KSH)': 175,
  'LOW(KSH)': '',
  'PREV PRICE(KSH)': '',
  'VOLUME': ''},
 {'CHANGE(%)': '',
  'COMPANY': 'Diamond Trust Bank Kenya Ltd Ord 4.00',
  'DATE': 'Fri Oct 27 11:01:00 2017',
  'HIGH(KSH)': '',
  'LAST TRADED PRICE(KSH)': 178,
  'LOW(KSH)': '',
  'PREV PRICE(KSH)': '',
  'VOLUME': 7000},
 {'CHANGE(%)': '',
  'COMPANY': 'Diamond Trust Bank Kenya Ltd Ord 4.00',
  'DATE': 'Mon Oct 30 11:01:00 2017',
  'HIGH(KSH)': '',
  'LAST TRADED PRICE(KSH)': 178,
  'LOW(KSH)': '',
  'PREV PRICE(KSH)': '',
  'VOLUME': 11200},
 {'CHANGE(%)': '',
  'COMPANY': 'Diamond Trust Bank Kenya Ltd Ord 4.00',
  'DATE': 'Tue Oct 31 11:01:00 2017',
  'HIGH(KSH)': '',
  'LAST TRADED PRICE(KSH)': 179,
  'LOW(KSH)': '',
  'PREV PRICE(KSH)': '',
  'VOLUME': 2600},
 {'CHANGE(%)': '',
  'COMPANY': 'Diamond Trust Bank Kenya Ltd Ord 4.00',
  'DATE': 'Wed Nov 1 11:01:00 2017',
  'HIGH(KSH)': '',
  'LAST TRADED PRICE(KSH)': 180,
  'LOW(KSH)': '',
  'PREV PRICE(KSH)': '',
  'VOLUME': 2700},
 {'CHANGE(%)': '',
  'COMPANY': 'Diamond Trust Bank Kenya Ltd Ord 4.00',
  'DATE': 'Thu Nov 2 11:01:00 2017',
  'HIGH(KSH)': '',
  'LAST TRADED PRICE(KSH)': 181,
  'LOW(KSH)': '',
  'PREV PRICE(KSH)': '',
  'VOLUME': 5700},
 {'CHANGE(%)': '',
  'COMPANY': 'Diamond Trust Bank Kenya Ltd Ord 4.00',
  'DATE': 'Fri Nov 3 11:01:00 2017',
  'HIGH(KSH)': '',
  'LAST TRADED PRICE(KSH)': 184,
  'LOW(KSH)': '',
  'PREV PRICE(KSH)': '',
  'VOLUME': 25100},
 {'CHANGE(%)': '',
  'COMPANY': 'Diamond Trust Bank Kenya Ltd Ord 4.00',
  'DATE': 'Mon Nov 6 11:01:00 2017',
  'HIGH(KSH)': '',
  'LAST TRADED PRICE(KSH)': 185,
  'LOW(KSH)': '',
  'PREV PRICE(KSH)': '',
  'VOLUME': 113100},
 {'CHANGE(%)': '',
  'COMPANY': 'Diamond Trust Bank Kenya Ltd Ord 4.00',
  'DATE': 'Tue Nov 7 11:01:00 2017',
  'HIGH(KSH)': '',
  'LAST TRADED PRICE(KSH)': 186,
  'LOW(KSH)': '',
  'PREV PRICE(KSH)': '',
  'VOLUME': 72200},
 {'CHANGE(%)': '',
  'COMPANY': 'Diamond Trust Bank Kenya Ltd Ord 4.00',
  'DATE': 'Wed Nov 8 11:01:00 2017',
  'HIGH(KSH)': '',
  'LAST TRADED PRICE(KSH)': 187,
  'LOW(KSH)': '',
  'PREV PRICE(KSH)': '',
  'VOLUME': 33100},
 {'CHANGE(%)': '',
  'COMPANY': 'Diamond Trust Bank Kenya Ltd Ord 4.00',
  'DATE': 'Thu Nov 9 11:01:00 2017',
  'HIGH(KSH)': '',
  'LAST TRADED PRICE(KSH)': 188,
  'LOW(KSH)': '',
  'PREV PRICE(KSH)': '',
  'VOLUME': 100},
 {'CHANGE(%)': '',
  'COMPANY': 'Diamond Trust Bank Kenya Ltd Ord 4.00',
  'DATE': 'Fri Nov 10 11:01:00 2017',
  'HIGH(KSH)': '',
  'LAST TRADED PRICE(KSH)': 189,
  'LOW(KSH)': '',
  'PREV PRICE(KSH)': '',
  'VOLUME': 191600},
 {'CHANGE(%)': '',
  'COMPANY': 'Diamond Trust Bank Kenya Ltd Ord 4.00',
  'DATE': 'Mon Nov 13 11:01:00 2017',
  'HIGH(KSH)': '',
  'LAST TRADED PRICE(KSH)': 100,
  'LOW(KSH)': '',
  'PREV PRICE(KSH)': '',
  'VOLUME': 189000},
 {'CHANGE(%)': '',
  'COMPANY': 'Diamond Trust Bank Kenya Ltd Ord 4.00',
  'DATE': 'Tue Nov 14 11:01:00 2017',
  'HIGH(KSH)': '',
  'LAST TRADED PRICE(KSH)': 191,
  'LOW(KSH)': '',
  'PREV PRICE(KSH)': '',
  'VOLUME': 21000},
 {'CHANGE(%)': '',
  'COMPANY': 'Diamond Trust Bank Kenya Ltd Ord 4.00',
  'DATE': 'Wed Nov 15 11:01:00 2017',
  'HIGH(KSH)': '',
  'LAST TRADED PRICE(KSH)': 191,
  'LOW(KSH)': '',
  'PREV PRICE(KSH)': '',
  'VOLUME': 189700}]

Let's convert the data into csv format for better handling

In [5]:
keys = dtk_data[0].keys()
with open('dtk_stocks.csv', 'wb') as output_file:
    dict_writer = csv.DictWriter(output_file, keys)
    dict_writer.writeheader()
    dict_writer.writerows(dtk_data)

In [6]:
dtk_stocks = pd.read_csv('dtk_stocks.csv')
print dtk_stocks.shape
dtk_stocks

(20, 8)

,PREV PRICE(KSH),LOW(KSH),COMPANY,CHANGE(%),VOLUME,DATE,LAST TRADED PRICE(KSH),HIGH(KSH)
0,191.0,190.0,Diamond Trust Bank Kenya Ltd Ord 4.00,-0.52,1500.0,Thu Nov 16 22:58:11 2017,190,190.0
1,190.0,186.0,Diamond Trust Bank Kenya Ltd Ord 4.00,-1.58,24300.0,Fri Nov 17 22:38:53 2017,187,190.0
2,NaN,NaN,Diamond Trust Bank Kenya Ltd Ord 4.00,NaN,32100.0,Mon Nov 20 11:01:00 2017,190,NaN
3,187.0,186.0,Diamond Trust Bank Kenya Ltd Ord 4.00,1.60,32100.0,Tue Nov 21 15:01:15 2017,190,191.0
4,NaN,NaN,Diamond Trust Bank Kenya Ltd Ord 4.00,NaN,400.0,Mon Oct 23 11:01:00 2017,175,NaN
5,NaN,NaN,Diamond Trust Bank Kenya Ltd Ord 4.00,NaN,NaN,Tue Oct 24 11:01:00 2017,175,NaN
6,NaN,NaN,Diamond Trust Bank Kenya Ltd Ord 4.00,NaN,7000.0,Fri Oct 27 11:01:00 2017,178,NaN
7,NaN,NaN,Diamond Trust Bank Kenya Ltd Ord 4.00,NaN,11200.0,Mon Oct 30 11:01:00 2017,178,NaN
8,NaN,NaN,Diamond Trust Bank Kenya Ltd Ord 4.00,NaN,2600.0,Tue Oct 31 11:01:00 2017,179,NaN
9,NaN,NaN,Diamond Trust Bank Kenya Ltd Ord 4.00,NaN,2700.0,Wed Nov 1 11:01:00 2017,180,NaN
10,NaN,NaN,Diamond Trust Bank Kenya Ltd Ord 4.00,NaN,5700.0,Thu Nov 2 11:01:00 2017,181,NaN
11,NaN,NaN,Diamond Trust Bank Kenya Ltd Ord 4.00,NaN,25100.0,Fri Nov 3 11:01:00 2017,184,NaN
12,NaN,NaN,Diamond Trust Bank Kenya Ltd Ord 4.00,NaN,113100.0,Mon Nov 6 11:01:00 2017,185,NaN
13,NaN,NaN,Diamond Trust Bank Kenya Ltd Ord 4.00,NaN,72200.0,Tue Nov 7 11:01:00 2017,186,NaN
14,NaN,NaN,Diamond Trust Bank Kenya Ltd Ord 4.00,NaN,33100.0,Wed Nov 8 11:01:00 2017,187,NaN
15,NaN,NaN,Diamond Trust Bank Kenya Ltd Ord 4.00,NaN,100.0,Thu Nov 9 11:01:00 2017,188,NaN
16,NaN,NaN,Diamond Trust Bank Kenya Ltd Ord 4.00,NaN,191600.0,Fri Nov 10 11:01:00 2017,189,NaN
17,NaN,NaN,Diamond Trust Bank Kenya Ltd Ord 4.00,NaN,189000.0,Mon Nov 13 11:01:00 2017,100,NaN
18,NaN,NaN,Diamond Trust Bank Kenya Ltd Ord 4.00,NaN,21000.0,Tue Nov 14 11:01:00 2017,191,NaN
19,NaN,NaN,Diamond Trust Bank Kenya Ltd Ord 4.00,NaN,189700.0,Wed Nov 15 11:01:00 2017,191,NaN